@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Saira+Extra+Condensed:wght@500;600;700;800&display=swap');

body {
  background-color: #0d1b2a; 
  color: #f8f9fa; 
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .btn {
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 1.5px; 
}

.btn-tactical {
  background-color: #1f468f !important; 
  border: 1px solid #476588 !important; 
  color: #e0e1dd !important; 
  border-radius: 2px !important; 
  font-weight: 600 !important;
  letter-spacing: 1px; 
  text-transform: uppercase;
  transition: all 0.3s ease;   
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.250) !important;  /* offset-x | offset-y | blur-radius | color */
}

.btn-tactical:hover {
  background-color: #365375 !important; 
  transform: translateY(-2px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.500) !important;
}

.btn-tactical:active {
  background-color: #0d1b2a !important; 
  border-color: #475970 !important;
  transform: translateY(1px); 
  box-shadow: none;
}

.section-header {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 0;
}

/* Línea superior */
.section-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0.05) 0%,
    rgba(255,255,255,0.8) 50%,
    rgba(255,255,255,0.05) 100%
  );
}

/* Línea inferior */
.section-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0.05) 0%,
    rgba(255,255,255,0.8) 50%,
    rgba(255,255,255,0.05) 100%
  );
}


.section-title {
  padding-top: 0.5rem;    
  padding-bottom: 0.5rem; 
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
}