@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Saira+Extra+Condensed:wght@500;600;700;800&display=swap');

body {
  background-color: #0d1b2a; 
  color: #f8f9fa; 
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .btn {
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 1.5px; 
}