section {
  margin-bottom: 5rem;
  min-height: 25vh;
}

.section-container {
  padding: 0rem 5rem;  
}

.bg-tactical {
  background-color: #040c18 !important; 
}

.header-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.footer-border {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
  color: #ffffff !important; 
  font-weight: 500; 
  text-decoration: none;
}

.nav-link:hover {
  color: #bfc1e0 !important; 
  font-weight: 500; 
  text-decoration: none;
}