.page-section {
  margin-bottom: 5rem;
  min-height: 25vh;
}

.bg-tactical {
  background: linear-gradient(
    to bottom,
    var(--bg-black) 0%,    
    var(--bg-main) 100%   
  ) !important;
}

.bg-tactical-reverse {
  background: linear-gradient(
    to bottom,
    var(--bg-main) 0%,  
    var(--bg-black) 50% 
  ) !important;
}

.header-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.footer-border {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.1) !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.nav-link {
  color: var(--text-white) !important;
  font-weight: 500; 
  text-decoration: none;
  font-size: 1.1rem !important;
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: var(--text-muted) !important; 
}